<!DOCTYPE html>
<html lang="en">
  <!-- {% block body %} -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About Us | Get My Claims</title>
 <link rel="icon" href="../static/assets/GMC_Logomark.png" type="image/x-icon">

    <style>
      .container{
    max-width: 1280px!important;
    margin-inline: auto;
    overflow: hidden; 
    /* padding-top: 40px; */
  }

  /* General Navbar Styles */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: white;
  position: relative;
}

.logo img {
  height: 130px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f7f5;
  border-radius: 25px;
  padding: 15px 15px;
}

nav ul li {
  /* margin: 0 20px; */
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #ffffff;
}

.language-login {
  display: flex;
  align-items: center;
}

.language-select {
  margin-right: 20px;
}

.language-select img {
  height: 25px;
}

.login {
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover {
  background-color: #007bff;
  color: white;
}

/* Dropdown for Know Your Rights */
.dropdown {
  position: relative;
  z-index: 1000;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 999;
  border-radius: 8px;
  margin-top: 20px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* border-bottom: 1px solid #f2f2f2; */
}

.dropdown-content a:hover {
  background-color: #f2f7f5;
}

.dropbtn::after {
  content: "▼";

  margin-left: 10px;
}

.dropbtn.active::after {
  content: "▲";
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: #fff;
}

/* Mobile Styles */
.nav-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 95px;
    left: 0;
    width: 100%;

    z-index: 999;
    border: none;
    border-radius: 0%;
    align-items: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  nav ul li {
    text-align: left;
  }

  .dropdown-content {
    position: static;
    border: none;
  }

  .dropdown-content a {
    padding: 10px 15px;
  }

  .language-login {
    display: none;
    position: fixed;
    background-color: white;
    top: 295px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .language-login.open{
    display: flex;
  }
}

/* Reduce font size for smaller screens */
@media screen and (max-width: 1096px) {
  nav ul li a {
    font-size: 12px;
  }
}

@media screen and (max-width:768px) {
  .vision-container{
    flex-direction: column-reverse !important;
  }
}


@media screen and (max-width:479px) {
  .vision-container{
    flex-direction: column-reverse !important;
  }

  h1{
    font-size: x-large !important;
  }
}

    </style>
  </head>

  
  <body>
    <!-- Navigation Bar -->
    <header style="background-color: white">
      <div class="main-nav container">
        <!-- Logo Section -->
        <div class="logo">
           <a href="{{ url_for('landing') }}">
            <img src="../static/assets/logo22.png" alt="Company Logo" />
          </a>
        </div>

        <!-- Navigation Links -->
        <nav style="margin-right: 30px">
          <ul class="nav-links" id="nav-links">
            <li><a href="/index1">Get My Claim</a></li>

            <!-- Dropdown for Know Your Rights -->
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Know Your Rights</a>
              <div class="dropdown-content" id="dropdown-content">
                <a href="{{url_for('kyr')+'#Should Know'}}"
                  >Air passenger rights</a
                >
                <a href="{{url_for('kyr')+'#Delay'}}"
                  >Flight delay compensation</a
                >
                <a href="{{url_for('kyr')+'#Cancellation'}}"
                  >Flight cancellation compensation</a
                >
                <a href="{{url_for('kyr')+'#Missed'}}">Missed connection</a>
                <a href="../templates/kyr.html#Overbooking">Overbooking compensation</a>
                <a href="../templates/kyr.html#Denied"
                  >Denied boarding compensation</a
                >
                <a href="{{url_for('kyr')+'#Delayed'}}"
                  >Delayed baggage compensation</a
                >
                <a href="{{url_for('kyr')+'#Strike'}}"
                  >Airline strike compensation</a
                >
                <!-- <a href="#">Passengers with disabilities</a>
                <a href="#">Airlines</a>
                <a href="#">Airports</a> -->
              </div>
            </li>

            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li>
              <a href="/login" class="login" id="logIn" style="display: none"
                >Log in</a
              >
            </li>
          </ul>
        </nav>

        <!-- Language Selector and Login -->
        <div class="language-login" id="language-login">
          <!-- <div class="language-select">
            <img src="../static/assets/lang.png" alt="Language" />
          </div> -->
          <a href="/login" class="login">Log in</a>
        </div>

        <!-- Mobile Navigation Toggle -->
        <a class="nav-toggle" id="nav-toggle">☰</a>
      </div>
    </header>

    <section class="image-section1 container" style="padding-top: 0px">
      <img src="../static/assets/abaut us1.png" alt="Descriptive Alt Text" />
    </section>

    <!-- Technology Section -->
    <section class="tech-section mt-8 container">
      <div class="tech-container">
        <h1 style="text-align: center;font-size: xx-large;font-weight: 400;">
          Transform Flight Disruptions into Opportunities with
          <span style="color: #36a266; "><b>Our Tech!</b></span>
        </h1>
        <p style="text-align: center; margin-top: 20px;">
         <b style="color: #36a266; "> Getmyclaims </b> is your trusted source of assistance and information
          regarding flight delay compensation. We understand the frustration and
          inconvenience caused by flight delays, cancellations or overbooking.
          Our mission is to empower passengers by providing them with the
          knowledge and resources they need to claim the compensation they
          deserve.
        </p>
      </div>
    </section>

    
    
    <!-- CEO Note Section -->
    <section class="text-gray-600 body-font mt-8">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center" style="padding-top: 0px; ">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
          <img class="object-cover object-center rounded" alt="hero" src="../static/assets/Frame 7769 (2).png">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center" >
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><b style="color: #36a266;">A Small Note From CEO</b>
            
          </h1>
          <p class="mb-8 leading-relaxed"><b>Dear Valued Customer,
          </b><br> <b>Welcome to Getmyclaims,</b> where we turn your travel disruptions into a
            positive experience. As frequent travelers ourselves, we understand
            the frustration and inconvenience that flight delays and
            cancellations can cause. That's why we created this platform , to
            ensure that every passenger is treated fairly and receives the
            compensation they’re entitled to.
          <br> Our mission is simple: to provide you with a hassle-free,
          transparent, and efficient service that takes the stress out of the
          claims process. We’ve assembled a team of dedicated professionals
          who are passionate about advocating for your rights and securing the
          compensation you deserve.
        <br>Thank you for choosing us to handle your claim. We’re honored to
        serve you and look forward to helping you navigate through the
        complexities of airline compensation with ease.
      <br><br><b style="color: #36a266;">Safe travel, <br>Ankur Gabriel Genoud CEO, Getmyclaims</b></p>
          
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font" style="font-family: 'system-ui';">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center" style="padding-top: 0px; padding-bottom: 37px;">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><b style="color: #36a266; text-align: justify;">Our Mission</b>
            
          </h1>
         <p class="mb-8 leading-relaxed" style=" font-family: system-ui; "><p>At Getmyclaims, our mission is to empower travelers by providing a seamless, stress-free solution for claiming flight delay compensation. We believe that every passenger deserves fair treatment, and we're dedicated to ensuring that airlines are held accountable when your travel plans are disrupted. Our goal is to simplify the claims process, making it accessible to everyone, and to secure the compensation you rightfully deserve.</p></b>
         
          <div class="flex justify-center">
            
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWlzc2lvbiUyMHNreXxlbnwwfHwwfHx8MA%3D%3D" style="border-radius: 25px;">
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="container vision-container mx-auto flex px-5 py-24   items-center" style="padding-top: 0px;">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
          <img class="object-cover object-center rounded" alt="hero" src="../static//assets//aboutusimg3.png" style="border-radius: 25px;padding-top: 43px;" style="border-radius: 25px;">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><b style="color: #36a266;">Our Vision</b>
            
          </h1>
          <p class="mb-8 leading-relaxed"><p>We envision a world where air travel is fair, transparent, and respectful of passengers' time and money. By advocating for travelers' rights and leveraging technology to streamline the compensation process, we aim to become the leading flight delay compensation service globally. Our vision is to set new standards in customer care and to be the trusted partner for every traveler seeking justice for flight disruptions.
           
          </p></p>
          
          <div class="flex justify-center">
            
          </div>
        </div>
      </div>
    </section>

    <section class="text-gray-600 body-font">
      
      <div class="container px-5 py-24 mx-auto" style="padding-top: 20px;">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"><b style="color: #36a266;">Company Information</b></h1>
            <div class="h-1 w-20 bg-green-500 rounded"></div>
          </div>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"></p>
        </div>
        
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static//assets//Frame 7782.png" alt="content">
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Trusted Compensation Experts</h2>
              <p class="leading-relaxed text-base">GetMyClaims is your go-to partner for flight delay and cancellation compensation. We handle every step of the claim process, ensuring you get the compensation you deserve quickly and efficiently.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static//assets//Frame 7781.png" alt="content">
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Hassle-Free Claims Processing</h2>
              <p class="leading-relaxed text-base">GetMyClaims specialize in making compensation claims stress-free. Whether it’s a delay, cancellation, or overbooking, we do the hard work so you can sit back and relax while we secure your compensation</p>
            </div>
          </div> 
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static//assets//Frame 7779.png" alt="content">
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Your Compensation, Our Priority</h2>
              <p class="leading-relaxed text-base">With years of experience in the travel industry, GetMyClaims ensures that you receive up to €600 for flight delays and disruptions. No hidden fees, only results. <br>You win, We win.
              </p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static//assets//Frame 7780.png" alt="content">
              
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Simplifying Travel Compensation</h2>
              <p class="leading-relaxed text-base">Don’t let travel disruptions go uncompensated. At GetMyClaims we take care of everything, from paperwork to airline negotiations, ensuring a fast and smooth claims process for you to get your claims.<br></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="image-section1 container" style="border-radius: 25px;">
      
      <img src="../static/assets/banner4.png" alt="Descriptive Alt Text" />
       
    </section>

       
    
        <!--Footer Section-->
        <!-- <section class="container footer-social-media-icons">
          <div class="footer-logo">
            <img src="{{url_for('static',filename='assets/logo2.png')}}"
                 alt="Get My Claims Logo" />
          </div>
          <div class="footer-icons">
            <img src="{{url_for('static',filename='assets/instagram.png')}}"
                 alt="Instagram" />
            <img src="{{url_for('static',filename='assets/twitter.png')}}"
                 alt="Twitter" />
            <img src="{{url_for('static',filename='assets/facebook.png')}}"
                 alt="Facebook" />
            <img src="{{url_for('static',filename='assets/threads.png')}}"
                 alt="Threads" />
          </div>
        </section> -->
    
        <!-- Multi-Column Footer Section -->
        <!-- <footer class="multi-column-footer">
          <div class="footer-content2 container">
            <div class="footer-column">
              <h3 class="footerH3">KNOW YOUR RIGHTS</h3>
              <div class="accordion">
                <button class="accordion-button">
                  <h3>KNOW YOUR RIGHTS</h3>
                  <svg viewBox="0 0 24 24"
                       class="accordion-icon">
                    <path fill="currentColor"
                          d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <ul>
                    <li><a href="/kyr">Air passenger rights</a></li>
                    <li><a href="/kyr">Flight delay compensation</a></li>
                    <li><a href="/kyr">Flight cancellation compensation</a></li>
                    <li><a href="/kyr">Missed connection</a></li>
                    <li><a href="/kyr">Denied boarding compensation</a></li>
                    <li><a href="/kyr">Airline strike compensation</a></li>
                    <li><a href="/kyr">Airlines</a></li>
                    <li><a href="/kyr">Airports</a></li>
                    <li><a href="/kyr">Flight refund</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-column">
              <h3 class="footerH3">OUR COMPANY</h3>
              <div class="accordion">
                <button class="accordion-button">
                  <h3>OUR COMPANY</h3>
                  <svg viewBox="0 0 24 24"
                       class="accordion-icon">
                    <path fill="currentColor"
                          d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/partner">Become a partner</a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <div class="footer-column">
              <h3 class="footerH3">SUPPORT</h3>
              <div class="accordion">
                <button class="accordion-button">
                  <h3>SUPPORT</h3>
                  <svg viewBox="0 0 24 24"
                       class="accordion-icon">
                    <path fill="currentColor"
                          d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <ul>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/fees">Our fees</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
    
            <div class="footer-column">
              <h3 class="footerH3">OUR PRODUCTS</h3>
              <div class="accordion">
                <button class="accordion-button">
                  <h3>OUR PRODUCTS</h3>
                  <svg viewBox="0 0 24 24"
                       class="accordion-icon">
                    <path fill="currentColor"
                          d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <ul>
                    <li><a href="/">Check your compensation</a></li>
                    <li><a href="/refer">Refer a friend</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-column">
              <h3 class="footerH3">OTHERS</h3>
              <div class="accordion">
                <button class="accordion-button">
                  <h3>OTHERS</h3>
                  <svg viewBox="0 0 24 24"
                       class="accordion-icon">
                    <path fill="currentColor"
                          d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                  </svg>
                </button>
                <div class="accordion-content">
                  <ul>
                    <li><a href="/T&C">Terms and Conditions</a></li>
                    <li><a href="/policy">Privacy Policy</a></li>
                    <li><a href="/cookies">Cookies</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer> -->
        <footer class=" bg-[#f2f7f5] ">
          <section class="py-20 relative ">
            <div class="container mx-auto p-2">
              <div class="flex justify-between lg:flex-row flex-col lg:gap-0 gap-8 ">
                <div class=" ">
                  <img src="../static/assets/gncLogo.png"
                       alt=""
                       class="w-[40%] pb-5">
                       <p class="lg:w-[50%] text-[20px] font-medium leading-[24px]">
                        Flight Delayed or Cancelled?<br>
                        Don't let your cash fly away.<br> Claim Now and get what you're owed!
                      </p>
                    </div>
                    <div class="w-full flex lg:justify-end gap-5">
                      <a href="https://www.facebook.com/share/FTovYP4P1vxifv5a/?mibextid=LQQJ4d"> <img src="../static/assets/facebook.png"
                           alt="facebook"
                           class="w-[25px] h-[30px]"></a>
                           <a href="https://x.com/getmyclaims">   <img src="../static/assets/twitter.png"
                           alt="Twitter"
                           class="w-[25px] h-[30px]"></a>
                      <img src="../static/assets/threads.png"
                           alt="threads"
                           class="w-[30px] h-[30px]">
                     <a href="https://www.instagram.com/getmyclaims/profilecard/?igsh=MThxeWQ3YjN5OGZuZg=="> <img src="../static/assets/instagram.png"
                           alt="instagram"
                           class="w-[35px] h-[30px]"></a>
        
        
                    </div>
              </div>
              <div>
    
              </div>
            </div>
          </section>
          <div class="justify-center flex   ">
            <hr class="border-[1px] border-[#c5c9c7]   w-[100%] ">
          </div>
          <div class="container mx-auto relative lg:block hidden p-2 mt-[-2rem]">
            <img src="../static/assets/GMC_Logomark.png"
                 alt=""
                 class="w-[25%] opacity-25 absolute right-0 top-[30%]">
            <div class="flex flex-row justify-between py-10 mb-20">
              <div>
                <p class="uppercase  font-bold">Know your right</p>
                <div class="pt-5">
                  <div class=" flex flex-col gap-3">
                    <div><a href="{{url_for('kyr')+'#Should Know'}}">Air passenger rights</a></div>
                    <div><a href="{{url_for('kyr')+'#Delay'}}">Flight delay compensation</a></div>
                    <div><a href="{{url_for('kyr')+'#Cancellation'}}">Flight cancellation compensation</a></div>
                    <div><a href="{{url_for('kyr')+'#Missed'}}">Missed connection</a></div>
                    <div><a href="{{url_for('kyr')+'#Delayed'}}">Delayed baggage compensation</a></div>
                    <div><a href="{{url_for('kyr')+'#Strike'}}">Airline strike compensation</a></div>
                    <div><a href="/airlines">Airlines</a></div>
                    <div><a href="/kyr">Airports</a></div>
                    <div><a href="/kyr">Flight refund</a></div>
                  </div>
    
    
                </div>
              </div>
              <div class="flex flex-col gap-8">
                <div>
                  <div>
                    <p class="uppercase  font-bold">Our Company</p>
                    <div class="pt-5">
                      <div class=" flex flex-col gap-3">
                        <div><a href="/about">About us</a></div>
                        <div><a href="#">Blog</a></div>
                        <div><a href="/partner">Become a partner</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <p class="uppercase  font-bold">Support</p>
                  <div class="pt-5">
                    <div class=" flex flex-col gap-3">
                      <div><a href="/help">Help</a></div>
                      <div><a href="/fees">Our fees</a></div>
                      <div><a href="/contact">Contact Us</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <p class="uppercase  font-bold">Our Product</p>
                <div class="pt-5">
                  <div class=" flex flex-col gap-3">
                    <div><a href="/">Check your compensation</a></div>
                    <div><a href="#">Refer a friend</a></div>
                  </div>
                </div>
              </div>
              <div>
                <p class="uppercase  font-bold">Others</p>
                <div class="pt-5">
                  <div class=" flex flex-col gap-3">
                    <div><a href="/T&C">Terms and Conditions</a></div>
                    <div><a href="/policy">Privacy Policy</a></div>
                    <div><a href="/cookies">Cookies</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container mx-auto hidden lg:block ">
            <div class="justify- flex py-1">
              <hr class="border-[1px] border-[#c5c9c7]  w-[100%] ">
            </div>
            <div class="flex flex-row justify-center">
              <p>Copyright &copy; 2025 Get My Claims </p>
            </div>
          </div>
        </footer>
        <div class="accordion-container  w-full flex flex-col  block xl:hidden">
          <div class="accordion-section border-b-[1px]">
            <p
               class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
              Know your right
              <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
            </p>
            <div class="accordion-contentmb hidden p-4">
              <div class="flex flex-col gap-3">
                <div><a href="/kyr" class=" hover:underline">Air passenger rights</a></div>
                <div><a href="{{url_for('kyr')+'#Delayed'}}" class="hover:underline">Flight delay compensation</a></div>
                <div><a href="{{url_for('kyr')+'#Cancellation'}}" class="  hover:underline">Flight cancellation compensation</a></div>
                <div><a href="/kyr" class="hover:underline">Missed connection</a></div>
                <div><a href="{{url_for('kyr')+'#Delayed'}}" class="hover:underline">Delayed baggage compensation</a></div>
                <div><a href="{{url_for('kyr')+'#Strike'}}" class="  hover:underline">Airline strike compensation</a></div>
                <div><a href="/airlines" class="hover:underline">Airlines</a></div>
                <div><a href="/kyr" class="hover:underline">Airports</a></div>
                <div><a href="/kyr" class="hover:underline">Flight refund</a></div>
              </div>
            </div>
          </div>
    
          <div class="accordion-section border-b-[1px]">
            <p
               class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
              Our Company
              <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
            </p>
            <div class="accordion-contentmb hidden p-4">
              <div class="flex flex-col gap-3">
                <div><a href="/about"
                     class="  hover:underline">About us</a></div>
                <div><a href="/"
                     class="  hover:underline">Blog</a></div>
                <div><a href="/partner"
                     class="  hover:underline">Become a partner</a></div>
              </div>
            </div>
          </div>
    
          <div class="accordion-section border-b-[1px]">
            <p
               class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
              Support
              <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
            </p>
            <div class="accordion-contentmb hidden p-4">
              <div class="flex flex-col gap-3">
                <div><a href="/help"
                     class="  hover:underline">Help</a></div>
                <div><a href="/fees"
                     class="  hover:underline">Our fees</a></div>
                <div><a href="/contact"
                     class="  hover:underline">Contact Us</a></div>
              </div>
            </div>
          </div>
    
          <div class="accordion-section  border-b-[1px]">
            <p
               class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
              Our Product
              <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
            </p>
            <div class="accordion-contentmb hidden p-4">
              <div class="flex flex-col gap-3">
                <div><a href="/"
                     class="  hover:underline">Check your compensation</a></div>
                <div><a href="/"
                     class="  hover:underline">Refer a friend</a></div>
              </div>
            </div>
          </div>
    
          <div class="accordion-section  ">
            <p
               class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
              Others
              <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
            </p>
            <div class="accordion-contentmb hidden p-4">
              <div class="flex flex-col gap-3">
                <div><a href="/T&C"
                     class="  hover:underline">Terms and Conditions</a></div>
                <div><a href="/policy"
                     class="  hover:underline">Privacy Policy</a></div>
                <div><a href="/cookies"
                     class="  hover:underline">Cookies</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mx-auto lg:hidden block bg-[#f2f7f5]  ">
          <div class="justify- flex ">
            <hr class="border border-[#c5c9c7]   w-[100%] ">
          </div>
          <div class="flex flex-row justify-center">
            <p>Copyright &copy; 2024 getmyClaim </p>
          </div>
        </div>
    
    
        <!-- {% include "footer.html" %} -->
   
    

    <script>
      
       

      // Toggle functionality for accordion
      const accordionButtons = document.querySelectorAll(".accordion-button");

      accordionButtons.forEach((button) => {
        button.addEventListener("click", function () {
          const expanded =
            button.getAttribute("aria-expanded") === "true" || false;
          button.setAttribute("aria-expanded", !expanded);

          const content = button.nextElementSibling;
          if (!expanded) {
            content.style.maxHeight = content.scrollHeight + "px";
          } else {
            content.style.maxHeight = 0;
          }
        });
      });
    </script>
    <!-- {%endblock%} -->


    <script>

document
        .getElementById("nav-toggle")
        .addEventListener("click", function () {
          document.getElementById("nav-links").classList.toggle("open");
          document.getElementById("logIn").style.display = "block";
        });


        window.addEventListener("scroll",()=>{
        const dropdown_content_toggle =
        document.getElementById("dropdown-content");

        dropdown_content_toggle.style.display = "none";

        document.getElementById("nav-links").classList.remove("open")
      })



      document.querySelectorAll(".dropbtn").forEach((item) => {
        item.addEventListener("click", function () {
          // Toggle the 'active' class on the clicked item
          this.classList.toggle("active");

          // Get the associated content
          const content = this.nextElementSibling;

          // Toggle the display of the content
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      });
      
    </script>

<script>
  const accordionHeaders = document.querySelectorAll('.accordion-headerfoot');
  const accordionContents = document.querySelectorAll('.accordion-contentmb');
  const accordionIcons = document.querySelectorAll('.accordion-icon');

  accordionHeaders.forEach((header, index) => {
    header.addEventListener('click', () => {
      accordionContents.forEach((content, i) => {
        if (i !== index) {
          content.classList.add('hidden');
          accordionIcons[i].classList.remove('fa-angle-up');
          accordionIcons[i].classList.add('fa-angle-down');
        }
      });

      accordionContents[index].classList.toggle('hidden');

      const isOpen = !accordionContents[index].classList.contains('hidden');
      accordionIcons[index].classList.toggle('fa-angle-down', !isOpen);
      accordionIcons[index].classList.toggle('fa-angle-up', isOpen);
    });
  });
</script>
  </body>
</html>
