<!DOCTYPE html>
<html lang="en">
  <!-- {% block body %} -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/contact.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Us | Get My Claims</title>
 <link rel="icon" href="../static/assets/GMC_Logomark.png" type="image/x-icon">

    <style>
      .container{
    max-width: 1280px!important;
    margin-inline: auto;
    overflow: hidden; 
    /* padding-top: 40px; */
  }

/* .container {
        max-width: 1180px;
        margin-inline: auto;
        overflow: hidden; 
      } */

/* header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        padding: 20px 40px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      } */

/* General Navbar Styles */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: white;
  position: relative;
}

.logo img {
  height: 130px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f2f7f5;
  border-radius: 25px;
  padding: 15px 15px;
  
}

nav ul li {
  /* margin: 0 20px; */
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #ffffff;
}

.language-login {
  display: flex;
  align-items: center;
}

.language-select {
  margin-right: 20px;
}

.language-select img {
  height: 25px;
}

.login {
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: white;
  color: #007bff;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover {
  background-color: #007bff;
  color: white;
}

/* Dropdown for Know Your Rights */
.dropdown {
  position: relative;
  z-index: 1000;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 999;
  border-radius: 8px;
  margin-top: 20px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* border-bottom: 1px solid #f2f2f2; */
}

.dropdown-content a:hover {
  background-color: #f2f7f5;
}

.dropbtn::after {
  content: "▼";

  margin-left: 10px;
}

.dropbtn.active::after {
  content: "▲";
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover a {
  background-color: #fff;
}

/* Mobile Styles */
.nav-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    top: 95px;
    left: 0;
    width: 100%;

    z-index: 999;
    border: none;
    border-radius: 0%;
    align-items: center;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  nav ul li {
    text-align: left;
  }

  .dropdown-content {
    position: static;
    border: none;
  }

  .dropdown-content a {
    padding: 10px 15px;
  }

  .language-login {
    display: none;
    position: fixed;
    background-color: white;
    top: 295px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .language-login.open{
    display: flex;
  }
}

/* Reduce font size for smaller screens */
@media screen and (max-width: 1096px) {
  nav ul li a {
    font-size: 12px;
  }
}

    </style>
    
  </head>
  <body>
    <!-- Navigation Bar -->
    <header style="background-color: white">
      <div class="main-nav container">
        <!-- Logo Section -->
        <div class="logo">
          <a href="{{ url_for('landing') }}">
            <img src="../static/assets/logo22.png" alt="Company Logo" />
          </a>
        </div>

        <!-- Navigation Links -->
        <nav style="margin-right: 30px">
          <ul class="nav-links" id="nav-links">
            <li><a href="/index1">Get My Claim</a></li>

            <!-- Dropdown for Know Your Rights -->
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Know Your Rights</a>
              <div class="dropdown-content" id="dropdown-content">
                <a href="{{url_for('kyr')+'#Should Know'}}"
                  >Air passenger rights</a
                >
                <a href="{{url_for('kyr')+'#Delay'}}"
                  >Flight delay compensation</a
                >
                <a href="{{url_for('kyr')+'#Cancellation'}}"
                  >Flight cancellation compensation</a
                >
                <a href="{{url_for('kyr')+'#Missed'}}">Missed connection</a>
                <a href="../templates/kyr.html#Overbooking">Overbooking compensation</a>
                <a href="../templates/kyr.html#Denied"
                  >Denied boarding compensation</a
                >
                <a href="{{url_for('kyr')+'#Delayed'}}"
                  >Delayed baggage compensation</a
                >
                <a href="{{url_for('kyr')+'#Strike'}}"
                  >Airline strike compensation</a
                >
                <!-- <a href="#">Passengers with disabilities</a>
                <a href="#">Airlines</a>
                <a href="#">Airports</a> -->
              </div>
            </li>

            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li>
              <a href="/login" class="login" id="logIn" style="display: none"
                >Log in</a
              >
            </li>
          </ul>
        </nav>

        <!-- Language Selector and Login -->
        <div class="language-login" id="language-login">
          <!-- <div class="language-select">
            <img src="../static/assets/lang.png" alt="Language" />
          </div> -->
          <a href="/login" class="login">Log in</a>
        </div>

        <!-- Mobile Navigation Toggle -->
        <a class="nav-toggle" id="nav-toggle">☰</a>
      </div>
    </header>
    <!-- contact us image -->
    <section class="image-section1 container"style="padding-top: 0px">
      <img src="../static/assets/banner2.png" alt="Descriptive Alt Text" />
      <h1 class="absolute font-[900] text-[50px] text-white">Contact Us</h1>
    </section>

    <!-- Technology Section -->
    <section class="tech-section container">
      <div class="tech-container">
        <h1>
          <b>Your Trusted Partner In Resolving Flight Ticket Issues Efficiently.</b>
          
        </h1>
        <p>
          Getmyclaims is your trusted source of assistance and information
          regarding flight delay compensation. We understand the frustration and
          inconvenience caused by flight delays, cancellations or overbooking.
          Our mission is to empower passengers by providing them with the
          knowledge and resources they need to claim the compensation they
          deserve.
        </p>
      </div>
    </section>

   

    <section class="contact-section container" style="border-radius: 80px; padding-left: 30px; padding-right: 30px;">
      <div class="contact-content" style="padding-left: 80px; padding-right: 80px; ">
          <h2><b>Contact Form</b></h2>
          <p style="
          margin-top: 53px;
          margin-bottom: 43px;
      "><b>Have questions or need help with your claim? Simply fill out the form below, and our team will get back to you. We're here to make the compensation process as smooth as possible!</b></p>
          <a href="https://form.jotform.com/242923116829460" class="contact-link">→ Go to contact form</a>
         
      </div>
      <div class="contact-icon">
          <img src="../static/assets/Contacticon.png" viewBox="0 0 24 24" width="320" height="320" fill="#91D9A0">
              <rect width="24" height="24" rx="5" fill="#91D9A0"/>
              <circle cx="12" cy="12" r="3" fill="#ffffff"/>
              <rect x="7" y="6" width="10" height="2" fill="#ffffff"/>
              <rect x="7" y="16" width="10" height="2" fill="#ffffff"/>
          </svg>
      </div>
  </section>

 <!-- Email Us Section -->

  <section class="contact-section container" style="border-radius: 80px; padding-left: 30px; padding-right: 30px;">
    <div class="contact-icon" >
      <img src="../static/assets/emailicon.png" viewBox="0 0 24 24" width="320" height="320" fill="#91D9A0">
          <rect width="24" height="24" rx="5" fill="#91D9A0"/>
          <circle cx="12" cy="12" r="3" fill="#ffffff"/>
          <rect x="7" y="6" width="10" height="2" fill="#ffffff"/>
          <rect x="7" y="16" width="10" height="2" fill="#ffffff"/>
      </svg>
  </div>
    <div class="contact-content" style="padding-left: 80px; padding-right: 80px; ">
        <h2><b>Email Us</b></h2>
        <p style="
        margin-top: 53px;
        margin-bottom: 43px;
    "><b>Prefer email? <br>
      Reach out to us at <b style="color: blue;">info@getmyclaims.com</b> for personalized support. Our experts are ready to assist <br> you with any questions or issues regarding your claim. <br><br> You can also contact by filling a form given below</b></p>
      <a href="mailto:info@getmyclaims.com?subject=Inquiry&body=Hello,%20I%20would%20like%20to%20know%20more%20about%20your%20services." class="contact-link">→ Email Us</a>

        
    </div>
   
</section>

   <!--Chat Section-->

<section class="contact-section container" style="border-radius: 80px; padding-left: 30px; padding-right: 30px;">
  <div class="contact-content" style="padding-left: 80px; padding-right: 80px; ">
      <h2><b>Chat</b></h2>
      <p style="
      margin-top: 53px;
      margin-bottom: 43px;
  "><b>Need quick answers? Our friendly chatbot is available 24/7 to guide you through the compensation process and provide instant help!</b></p>
  <div class="chat-button">
    <img src="../static/assets/chaticon.png" alt="Chat Icon" class="chat-icon">
    <a href="https://form.jotform.com/242923116829460" class="chat-link">Open Chat</a>
</div>
      
      
  </div>
  <div class="contact-icon">
      <img src="../static/assets/chaticon.png" viewBox="0 0 24 24" width="320" height="320" fill="#91D9A0">
          <rect width="24" height="24" rx="5" fill="#91D9A0"/>
          <circle cx="12" cy="12" r="3" fill="#ffffff"/>
          <rect x="7" y="6" width="10" height="2" fill="#ffffff"/>
          <rect x="7" y="16" width="10" height="2" fill="#ffffff"/>
      </svg>
  </div>
</section>



    <!-- Compensation Eligibility Section -->
    <section class="compensation-section">
      <div class="compensation-content">
        <h2>Am I Eligible for Compensation? Find Out Here!</h2>
        <a href="/index1" class="compensation-button">Check Compensation</a>
      </div>
    </section>

    <!-- FAQ Section -->
    <section class="faq-section">
      
    <div class="bg-white">
      
      <div class="accordion faq-section bg-white">
        <p style="text-align: left;">FAQ’s</p>
        <h2>Your questions, answered</h2>
        
        <div class="accordion-item">
          <input type="checkbox"
                 id="accordion1">
          <label for="accordion1"
                 class="accordion-item-title"><span class="icon"></span>What are air passenger rights? </label>
          <div class="accordion-item-desc">Air passenger rights are legal protections that ensure travelers receive compensation and assistance in cases of flight delays, cancellations, or overbooking caused by airlines.</div>
        </div>

        <div class="accordion-item">
          <input type="checkbox"
                 id="accordion2">
          <label for="accordion2"
                 class="accordion-item-title"><span class="icon"></span>Am I eligible for compensation if my flight is delayed? </label>
          <div class="accordion-item-desc">Eligibility for compensation depends on the length of the delay, the cause, and the regulations of the country you are traveling in or from. Generally, if your flight is delayed by more than 3 hours due to reasons within the airline's control, you may be entitled to compensation.</div>
        </div>

        <div class="accordion-item">
          <input type="checkbox"
                 id="accordion3">
          <label for="accordion3"
                 class="accordion-item-title"><span class="icon"></span>How much compensation can I receive for a delayed flight? </label>
          <div class="accordion-item-desc">Compensation amounts vary based on factors such as the duration of the delay and the distance of the flight. For example, in the European Union, compensation can range from €250 to €600.</div>
        </div>

        <div class="accordion-item">
          <input type="checkbox"
                 id="accordion4">
          <label for="accordion4"
                 class="accordion-item-title"><span class="icon"></span>How long do I have to file a compensation claim?</label>
          <div class="accordion-item-desc">The time limit for filing a claim varies by country and airline. In the EU, you typically have up to three years to file a claim, while in the US, it can range from one to three years depending on the state.</div>
        </div>

        <div class="accordion-item">
          <input type="checkbox"
                 id="accordion5">
          <label for="accordion5"
                 class="accordion-item-title"><span class="icon"></span>What if my flight was canceled?</label>
          <div class="accordion-item-desc">If your flight is canceled, you may be entitled to a full refund or an alternative flight. Additionally, if the cancellation occurs within 14 days of your scheduled departure, you may also be eligible for compensation, depending on the reason for the cancellation.</div>
        </div>
        <a href="/help" class="show-more">Show more &rarr;</a>
      </div>
    </div>
    </section>


    <!-- Image Section -->
    <section class="py-10 footer-banner" style="background: linear-gradient(to top, #f2f7f5 50%, white 50%);">
      <div class="container mx-auto">
        <img src="../static/assets/banner3.png"
             alt="">
      </div>
      <!-- <img class="container"
           src="{{url_for('static',filename='assets/secc.png')}}"
           alt="Descriptive Alt Text" /> -->

    </section>

    <!--Footer Section-->
    <!-- <section class="container footer-social-media-icons">
      <div class="footer-logo">
        <img src="{{url_for('static',filename='assets/logo2.png')}}"
             alt="Get My Claims Logo" />
      </div>
      <div class="footer-icons">
        <img src="{{url_for('static',filename='assets/instagram.png')}}"
             alt="Instagram" />
        <img src="{{url_for('static',filename='assets/twitter.png')}}"
             alt="Twitter" />
        <img src="{{url_for('static',filename='assets/facebook.png')}}"
             alt="Facebook" />
        <img src="{{url_for('static',filename='assets/threads.png')}}"
             alt="Threads" />
      </div>
    </section> -->

    <!-- Multi-Column Footer Section -->
    <!-- <footer class="multi-column-footer">
      <div class="footer-content2 container">
        <div class="footer-column">
          <h3 class="footerH3">KNOW YOUR RIGHTS</h3>
          <div class="accordion">
            <button class="accordion-button">
              <h3>KNOW YOUR RIGHTS</h3>
              <svg viewBox="0 0 24 24"
                   class="accordion-icon">
                <path fill="currentColor"
                      d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <ul>
                <li><a href="/kyr">Air passenger rights</a></li>
                <li><a href="/kyr">Flight delay compensation</a></li>
                <li><a href="/kyr">Flight cancellation compensation</a></li>
                <li><a href="/kyr">Missed connection</a></li>
                <li><a href="/kyr">Denied boarding compensation</a></li>
                <li><a href="/kyr">Airline strike compensation</a></li>
                <li><a href="/kyr">Airlines</a></li>
                <li><a href="/kyr">Airports</a></li>
                <li><a href="/kyr">Flight refund</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-column">
          <h3 class="footerH3">OUR COMPANY</h3>
          <div class="accordion">
            <button class="accordion-button">
              <h3>OUR COMPANY</h3>
              <svg viewBox="0 0 24 24"
                   class="accordion-icon">
                <path fill="currentColor"
                      d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <ul>
                <li><a href="/about">About us</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/partner">Become a partner</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-column">
          <h3 class="footerH3">SUPPORT</h3>
          <div class="accordion">
            <button class="accordion-button">
              <h3>SUPPORT</h3>
              <svg viewBox="0 0 24 24"
                   class="accordion-icon">
                <path fill="currentColor"
                      d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <ul>
                <li><a href="/help">Help</a></li>
                <li><a href="/fees">Our fees</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-column">
          <h3 class="footerH3">OUR PRODUCTS</h3>
          <div class="accordion">
            <button class="accordion-button">
              <h3>OUR PRODUCTS</h3>
              <svg viewBox="0 0 24 24"
                   class="accordion-icon">
                <path fill="currentColor"
                      d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <ul>
                <li><a href="/">Check your compensation</a></li>
                <li><a href="/refer">Refer a friend</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-column">
          <h3 class="footerH3">OTHERS</h3>
          <div class="accordion">
            <button class="accordion-button">
              <h3>OTHERS</h3>
              <svg viewBox="0 0 24 24"
                   class="accordion-icon">
                <path fill="currentColor"
                      d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
              </svg>
            </button>
            <div class="accordion-content">
              <ul>
                <li><a href="/T&C">Terms and Conditions</a></li>
                <li><a href="/policy">Privacy Policy</a></li>
                <li><a href="/cookies">Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer> -->
    <footer class=" bg-[#f2f7f5] ">
      <section class="py-20 relative ">
        <div class="container mx-auto p-2">
          <div class="flex justify-between lg:flex-row flex-col lg:gap-0 gap-8 ">
            <div class=" ">
              <img src="../static/assets/gncLogo.png"
                   alt=""
                   class="w-[40%] pb-5">
              <p class="lg:w-[50%] text-[20px] font-medium leading-[24px] ">
                Flight Delayed or Cancelled?<br>
                Don't let your cash fly away.<br> Claim Now and get what you're owed!


              </p>
            </div>
            <div class="w-full flex lg:justify-end gap-5">
              <a href="https://www.facebook.com/share/FTovYP4P1vxifv5a/?mibextid=LQQJ4d"> <img src="../static/assets/facebook.png"
                   alt="facebook"
                   class="w-[25px] h-[30px]">
              </a>
              <a href="https://x.com/getmyclaims">   
                  <img src="../static/assets/twitter.png"
                   alt="Twitter"
                   class="w-[25px] h-[30px]">
              </a>
              <img src="../static/assets/threads.png"
                   alt="threads"
                   class="w-[30px] h-[30px]">
              
              <a href="https://www.instagram.com/getmyclaims/profilecard/?igsh=MThxeWQ3YjN5OGZuZg=="> 
                <img src="../static/assets/instagram.png"
                   alt="instagram"
                   class="w-[35px] h-[30px]">
                  
              </a>


            </div>
          </div>
          <div>

          </div>
        </div>
      </section>
      <div class="justify-center flex   ">
        <hr class="border-[1px] border-[#c5c9c7]   w-[100%] ">
      </div>
      <div class="container mx-auto relative lg:block hidden p-2 mt-[-2rem]">
        <img src="../static/assets/GMC_Logomark.png"
             alt=""
             class="w-[25%] opacity-25 absolute right-0 top-[30%]">
        <div class="flex flex-row justify-between py-10 mb-20">
          <div>
            <p class="uppercase  font-bold">Know your right</p>
            <div class="pt-5">
              <div class=" flex flex-col gap-3">
                <div><a href="/kyr">Air passenger rights</a></div>
                <div><a href="/kyr">Flight delay compensation</a></div>
                <div><a href="/kyr">Flight cancellation compensation</a></div>
                <div><a href="/kyr">Missed connection</a></div>
                <div><a href="/kyr">Denied boarding compensation</a></div>
                <div><a href="/kyr">Airline strike compensation</a></div>
                <div><a href="/kyr">Airlines</a></div>
                <div><a href="/kyr">Airports</a></div>
                <div><a href="/kyr">Flight refund</a></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-8">
            <div>
              <div>
                <p class="uppercase  font-bold">Our Company</p>
                <div class="pt-5">
                  <div class=" flex flex-col gap-3">
                    <div><a href="/about">About us</a></div>
                    <div><a href="#">Blog</a></div>
                    <div><a href="/partner">Become a partner</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p class="uppercase  font-bold">Support</p>
              <div class="pt-5">
                <div class=" flex flex-col gap-3">
                  <div><a href="/help">Help</a></div>
                  <div><a href="/fees">Our fees</a></div>
                  <div><a href="/contact">Contact Us</a></div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p class="uppercase  font-bold">Our Product</p>
            <div class="pt-5">
              <div class=" flex flex-col gap-3">
                <div><a href="/">Check your compensation</a></div>
                <div><a href="#">Refer a friend</a></div>
              </div>
            </div>
          </div>
          <div>
            <p class="uppercase  font-bold">Others</p>
            <div class="pt-5">
              <div class=" flex flex-col gap-3">
                <div><a href="/T&C">Terms and Conditions</a></div>
                <div><a href="/policy">Privacy Policy</a></div>
                <div><a href="/cookies">Cookies</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto hidden lg:block ">
        <div class="justify- flex py-1">
          <hr class="border-[1px] border-[#c5c9c7]  w-[100%] ">
        </div>
        <div class="flex flex-row justify-center">
          <p>Copyright &copy; 2025 Get My Claims </p>
        </div>
      </div>
    </footer>
    <div class="accordion-container  w-full flex flex-col  block xl:hidden">
      <div class="accordion-section border-b-[1px]">
        <p
           class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
          Know your right
          <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
        </p>
        <div class="accordion-contentmb hidden p-4">
          <div class="flex flex-col gap-3">
            <div><a href="/kyr"
                 class=" hover:underline">Air passenger rights</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Flight delay compensation</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Flight cancellation compensation</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Missed connection</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Denied boarding compensation</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Airline strike compensation</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Airlines</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Airports</a></div>
            <div><a href="/kyr"
                 class="  hover:underline">Flight refund</a></div>
          </div>
        </div>
      </div>

      <div class="accordion-section border-b-[1px]">
        <p
           class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
          Our Company
          <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
        </p>
        <div class="accordion-contentmb hidden p-4">
          <div class="flex flex-col gap-3">
            <div><a href="/about"
                 class="  hover:underline">About us</a></div>
            <div><a href="/"
                 class="  hover:underline">Blog</a></div>
            <div><a href="/partner"
                 class="  hover:underline">Become a partner</a></div>
          </div>
        </div>
      </div>

      <div class="accordion-section border-b-[1px]">
        <p
           class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
          Support
          <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
        </p>
        <div class="accordion-contentmb hidden p-4">
          <div class="flex flex-col gap-3">
            <div><a href="/help"
                 class="  hover:underline">Help</a></div>
            <div><a href="/fees"
                 class="  hover:underline">Our fees</a></div>
            <div><a href="/contact"
                 class="  hover:underline">Contact Us</a></div>
          </div>
        </div>
      </div>

      <div class="accordion-section  border-b-[1px]">
        <p
           class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
          Our Product
          <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
        </p>
        <div class="accordion-contentmb hidden p-4">
          <div class="flex flex-col gap-3">
            <div><a href="/"
                 class="  hover:underline">Check your compensation</a></div>
            <div><a href="/"
                 class="  hover:underline">Refer a friend</a></div>
          </div>
        </div>
      </div>

      <div class="accordion-section  ">
        <p
           class="accordion-headerfoot uppercase font-medium bg-[#f2f7f5] p-4 cursor-pointer flex justify-between items-center">
          Others
          <i class="fa-solid fa-angle-down accordion-icon text-[#36AC57]"></i>
        </p>
        <div class="accordion-contentmb hidden p-4">
          <div class="flex flex-col gap-3">
            <div><a href="/T&C"
                 class="  hover:underline">Terms and Conditions</a></div>
            <div><a href="/policy"
                 class="  hover:underline">Privacy Policy</a></div>
            <div><a href="/cookies"
                 class="  hover:underline">Cookies</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto lg:hidden block bg-[#f2f7f5]  ">
      <div class="justify- flex ">
        <hr class="border border-[#c5c9c7]   w-[100%] ">
      </div>
      <div class="flex flex-row justify-center">
        <p>Copyright &copy; 2024 getmyClaim </p>
      </div>
    </div>

   <!-- {%include "footer.html" %} -->
    

    <script>
      

      // Toggle functionality for accordion
      const accordionButtons = document.querySelectorAll(".accordion-button");

      accordionButtons.forEach((button) => {
        button.addEventListener("click", function () {
          const expanded =
            button.getAttribute("aria-expanded") === "true" || false;
          button.setAttribute("aria-expanded", !expanded);

          const content = button.nextElementSibling;
          if (!expanded) {
            content.style.maxHeight = content.scrollHeight + "px";
          } else {
            content.style.maxHeight = 0;
          }
        });
      });
    </script>
    <!-- {%endblock%} -->

    <script>
     document
        .getElementById("nav-toggle")
        .addEventListener("click", function () {
          document.getElementById("nav-links").classList.toggle("open");
          document.getElementById("logIn").style.display = "block";
          
          
        });

        window.addEventListener("scroll",()=>{
        const dropdown_content_toggle =
        document.getElementById("dropdown-content");

        dropdown_content_toggle.style.display = "none";

        document.getElementById("nav-links").classList.remove("open")
      })



      document.querySelectorAll(".dropbtn").forEach((item) => {
        item.addEventListener("click", function () {
          // Toggle the 'active' class on the clicked item
          this.classList.toggle("active");

          // Get the associated content
          const content = this.nextElementSibling;

          // Toggle the display of the content
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      });
    </script>

<script>
  const accordionHeaders = document.querySelectorAll('.accordion-headerfoot');
  const accordionContents = document.querySelectorAll('.accordion-contentmb');
  const accordionIcons = document.querySelectorAll('.accordion-icon');

  accordionHeaders.forEach((header, index) => {
    header.addEventListener('click', () => {
      accordionContents.forEach((content, i) => {
        if (i !== index) {
          content.classList.add('hidden');
          accordionIcons[i].classList.remove('fa-angle-up');
          accordionIcons[i].classList.add('fa-angle-down');
        }
      });

      accordionContents[index].classList.toggle('hidden');

      const isOpen = !accordionContents[index].classList.contains('hidden');
      accordionIcons[index].classList.toggle('fa-angle-down', !isOpen);
      accordionIcons[index].classList.toggle('fa-angle-up', isOpen);
    });
  });
</script>
  </body>
</html>
